@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center">
    <div class="cowndown">
        <div class="countdown-item">
            <b><span id="minute"></span>:<span id="second"></span></b>
        </div>
    </div>
    <div id="timeout">
    </div>
    <div id="S-R">
        <button onclick="pause()">Pause</button>
        <button onclick="resume()">Resume</button>
    </div>

</div>
